
.idea/misc.xml

.idea/modules.xml

.idea/Week11_Hive_Project_4.iml

.idea/workspace.xml

derby.log

*.properties

*.dat

metastore_db/log/README_DO_NOT_TOUCH_FILES.txt

metastore_db/README_DO_NOT_TOUCH_FILES.txt

metastore_db/seg0/README_DO_NOT_TOUCH_FILES.txt

*.ctrl

*.lck

proj4-1.hive

Proj4_2.zip

PROJECT04_Hive (EK).docx
